@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>All Drinks are shown here.</h2>
</div>

<h2>@Model.CurrentCategory</h2>

<div class="row">
    @{
        foreach (var lipstick in Model.Lipsticks)
        {
        <div class="col-3 p-1 cards-deck">
            <div class="card">
                <img src="@lipstick.ImageThumbnailUrl" class="card-img-top" alt="@lipstick.ImageThumbnailUrl">
                <div class="card-body">
                    <h5 class="card-title">@lipstick.Name</h5>
                    <p class="card-text">@lipstick.ShortDescription</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@lipstick.Price.ToString("c")</small>
                </div>
            </div>
        </div>  
        }
    }
</div>
        

